*{
    padding: 0;
    margin: 0;
}
 body , html{
    
    width:100%;
    height: 100%;
    margin: 0;
   
}

header{
    background-color: #2D89E6;
    width : 100%;
    height: 8%;
    left : 0;
    color:#ffffff;
    position : absolute;
    position:fixed;
    align-items: center;
    display:flex;
    justify-content: center;
   
}

.registerSquere{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  /*  height: 650px;*/
    width: 400px;
    position:absolute;
    left: 5%;
    top :15%;
    background-color:white;
    border-radius: 30px;
    border : 2px solid rgb(231, 225, 225);

}

.addingMem{
    display:block;
    padding:20px;
    color: gray;
    flex: 1;
    

}

.userInput1{
    height:40px;
    width: 350px;
    display: block;
    margin-bottom: 10px;
    border-radius: 10px;
    border : 2px solid rgb(231, 225, 225);
    flex: 1;


}
.userInput2{
    height:40px;
    margin-bottom: 10px;
    width: 350px;
    display: block;
    border-radius: 10px;
    border : 2px solid rgb(231, 225, 225);
    flex: 10;


}

.Bio{
    height:200px;
    margin-bottom: 10px;
    width: 350px;
    flex: 10;
    border-radius: 10px;
    border : 2px solid rgb(231, 225, 225);
    display: block;
   
}
.checkBox{
    margin-bottom: 10px;

}
.submit{
    height: 60px;
    width: 400px;
    flex:2;
    display: block;
    border: none;
    padding:0;
    margin-top:10;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #2D89E6;
    color: white;
    
}
.userselect1{
    height:44px;
    width: 354px;
    flex: 1;
    display: block;
    padding: 1;
    border-radius: 10px;
    margin-bottom: 10px;
    border : 2px solid rgb(231, 225, 225);

}
.userselect2{
    height:45px;
    width: 354px;
    flex: 1;
    padding: 1;
    display: block;
    margin-bottom: 10px;
    border-radius: 10px;
    border : 2px solid rgb(231, 225, 225);

}

.rightSide{
    display:flex;
    background-color: #F6F6F6;
    right: 5%;
    width:900px;
    bottom: 0;
    height: 92%;
    position: absolute;
    margin-top:50px;
}

.sort{
    display:flex;
    flex-direction:row;
}

.verticalLine{
    display:block;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    border-left:2px solid white;
}

.BlueleftSide{
    margin-top: 30px;
    width: 60%;
    height: 40px;
    display:flex;
    align-items: center;
    background-color: #2D89E6;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}



.BlueRightSide{
    margin-top:30px;
    width:10%;
    height: 40px;
    display:flex;
    align-items:center;
    background-color: #2D89E6;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    flex-direction: center;
    margin-right:0;
}


